<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Students</title>
    <link rel="stylesheet" href="students.css">
    <link rel="icon" href="Images/logo.jpg">
</head>
<body>
    <img src = "Images/4617b9f4-a080-4e35-bcd5-c2ef2c33c111.jpg">
    <div class="details">
    <h1>List of Students who are issuing books from Library</h1>
    </div>
    <script src="stud.js"></script>
    
   
</body>
</html>